<div id="navigation_header">
  <div style="margin: 0 auto;">
    <%= link_to 'New Game',  new_game_path, :class=> "menu_link" %>
  </div>
</div>
<div id="notice_message">
  <p id="notice"><%= notice %></p>
</div>
