<section>
  <%= render partial: 'menu' %>  
</section>

<div id="connect_four_banner" >
  <h2 id="connect_four_title">Connect Four Game</h2>
</div>

<section>
  <%= render partial: 'gameboard' %>
</section>
