<section>
  <%= render partial: 'menu' %>  
</section>

<div id="connect_four_banner" >
  <h2 id="connect_four_title">Connect Four Game</h2>
</div>

<div id="first_move_section">
  <div class="first_move_link">
    <%= link_to 'I want to go first', users_move_path('choose') %>
  </div>
  <div class="first_move_link">
    <%= link_to 'Computer goes first', make_computers_move_path %>
  </div>
</div>


<section>
  <%= render partial: 'gameboard' %>
</section>
